@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@400;700&family=Gloria+Hallelujah&family=Source+Code+Pro:wght@600&display=swap');

body {
    border: 0;
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 24px;
    margin-right: 20px;
    padding: 5px 15px;
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
    cursor: pointer;
}

a:hover {
    background-color: rgba(255,255,255,.5);
}

a:hover span {
    background: linear-gradient(90deg, navy, blue, cornflowerblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label {
    display: block;
    padding-bottom: 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style: none;
}

div.center {
    padding-top: 10vh;
    max-width: 400px;
    width: 80%;
    margin: auto;
    text-align: center;
}

div.center div {
    margin-top: 5vh;
    text-align: left;
}

h1 {
    font-family: 'Archivo Black',sans-serif;
    font-weight: bold;
    font-size: 48px;
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, navy, blue, cornflowerblue, lightblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    font-size: 48px;
    border: 0;
    border-bottom: 1px solid transparent;
    background-color: unset;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 5px 10px;
}

input:focus {
    outline-width: 0;
}

input:hover, input:required:invalid, input:focus {
    background-color: rgba(255,255,255,.2);
    border-bottom: 1px solid black;
}

input#code {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}

div#codearea, div#joinarea { display:none; }

h1#quno {
   cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

div.viewport {
    position:fixed !important;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient( 170deg, orange, hotpink, deepskyblue, cornsilk);
    -webkit-overflow-scrolling: touch;
}

div.viewport.game {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content auto min-content min-content;
    align-items: stretch;
}

div.griditem {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

div.middle {
    display: table;
}

div.middle div {
    display: table-cell;
    vertical-align: middle;
}

div.actions {
    grid-column: span 2;
    text-align: right;
    background-color: rgba(255,255,255,.4);
    backdrop-filter: blur(4px) grayscale(30%);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.3);
    padding: 5px 20px;
    color: teal;
    font-size: 12px;
}

div.actions li {
    display: inline-block;
    padding: 5px 0px 5px 10px;
}

div.actions li:after {
    content: '|';
}

div.actions li:last-child:after {
    content: '';
}

div.actions a {
    color: teal;
    text-decoration: underline;
    background: unset;
    font-size: 12px;
    margin: 0;
    padding: 0px 10px 0px 0px;
}

div.actions span.code {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
}

div.players {
    grid-column: span 2;
    text-align: center;
}

div.players li {
    display: inline-block;
    height: 76px;
    width: 76px;
    border: 2px solid rgba(0,120,120,.4);
    border-radius: 50%;
    background-color: rgba(0,0,0,.05);
    color: slategray;
    margin: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 80%;
    cursor: default;
}

div.players li.active {
    background-color: rgba(255,255,255,.3);
    height: 70px;
    width: 70px;
    border: 5px solid white;
    color: white;
}

.players .playername {
    display: block;
    line-height: 40px;
}

.players .active .playername {
    display: block;
    line-height: 38px;
}

.players .cardcount {
    font-weight: bold;
    font-size: 200%;
}

div.deck {
    text-align: right;
}

div.stack {
    text-align: left;
}

div.middle ul {
    display: table-cell;
    vertical-align: middle;
}

div.deck li, div.stack li {
    display: inline-block;
    height: 140px;
    width: 80px;
    border-radius: 8px;
    border: 2px solid white;
    padding: 10px 15px;
    text-align: right;
    font-family: 'Archivo Black',sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: white;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,.5);
    cursor: default;
}

div.deck li {
    height: 144px;
    width: 84px;
    border-radius: 8px;
    border: 0;
    background-image: linear-gradient(140deg, black,  #660000, #005500,mediumblue, #aaaa00, white);
    line-height: 140px;
    font-size: 24px;
    text-align: center;
    color: rgba(255,255,255,.2);
    -webkit-text-stroke: unset;
    text-stroke: unset;
    cursor: grab;
}

.stack li span.colorcharge {
    display: block;
    float: right;
    -webkit-text-stroke: 0;
    text-stroke: 0;
    margin-left: 5px;
    font-size: 150%;
    line-height: 75%;
}

.stack .colorcharge.red {
    color: #dd1111;
    background-image: unset;
}

.stack .colorcharge.blue {
    color: blue;
    background-image: unset;
}

.stack .colorcharge.green {
    color: limegreen;
    background-image: unset;
}

.stack .colorcharge.yellow {
    color: yellow;
    background-image: unset;
}

div.task {
    grid-column: span 2;
    height: 70px;
    text-align: center;
    font-size: 48px;
    padding: 5px;
}

div.task a {
    border-radius: 8px;
    border: 3px solid white;
    padding: 3px 10px;
    margin: 0px 10px;
    color: white;
    background-color: rgba(0,0,0,.3);
    cursor: pointer;
    box-shadow: -1px 0px 3px 0px rgba(0,0,0,.5);
    transition: box-shadow .3s ease-out;
}

div.task a:hover {
    box-shadow: -1px 0px 7px 3px rgba(0,0,0,.6);
}

div.task .dot {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0px 10px;
    border: 4px solid white;
    display: inline-block;
    transition: all .3s ease-out;
}

div.task .dot:hover {
    box-shadow: -1px 0px 7px 3px rgba(0,0,0,.6);
}

div.hand {
    text-align: center;
    grid-column: span 2;
    padding: 0px 0px 20px 0px;
    overflow-x: auto;
    overflow-y: hidden;
}

div.hand ul {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
}

div.hand li {
    display: inline-block;
    height: 70px;
    width: 3rem;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px 15px;
    text-align: right;
    font-family: 'Archivo Black',sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: white;
    margin: 0;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    box-shadow: 1px 0px 3px 0px rgba(0,0,0,.5);
    cursor: grab;
    overflow: hidden;
    transition: all .3s ease-out;
}

div.hand li:first-child {
    width: 70px;
    border-bottom-left-radius: 8px;
}

div.hand li:hover {
    box-shadow: 1px 0px 7px 3px rgba(0,0,0,.6);
}

div.hand li:last-child {
    border-bottom-right-radius: 8px;
    border-right: 2px solid white;
}

div.hand div {
    margin-top: 20px;
    font-family: 'Archivo Black',sans-serif;
    font-size: 250%;
    line-height: 300%;
}

.red {
    background-image: linear-gradient(170deg, indianred, red, palevioletred);
}

.green {
    background-image: linear-gradient(170deg, lightgreen, limegreen, lime);
}

.blue {
    background-image: linear-gradient(170deg, dodgerblue, cornflowerblue, deepskyblue);
}

.yellow {
    background-image: linear-gradient(170deg, lightgoldenrodyellow, yellow, lightyellow);
}

.black {
    background-image: linear-gradient(170deg, gray, dimgray, darkgray);
}

div#toast {
    display: block;
    visibility: hidden;
    padding: 20px;
    overflow: hidden;
    position: absolute;
    top: 10vh;
    right: 5vw;
    bottom: 25vh;
    left: 5vw;
    z-index: 1;
    opacity: .8;
}

div#toast.active {
    visibility: visible;
    animation: toast-fadein 0.5s, toast-fadeout 0.5s 1.5s;
}

@keyframes toast-fadein {
    from {opacity: 0;}
    to {opacity: .8;}
}

@keyframes toast-fadeout {
    from {opacity: .8;}
    to {opacity: 0;}
}

div.toastwrap {
    height: 100%;
    width: 100%;
    display: table;
}

div.toastwrap span {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    font-size: 200px;
    color: white;
    -webkit-text-stroke: 4px black;
    text-stroke: 4px black;
    font-family: 'Archivo Black',sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/* mobile stuff */

@media (max-width: 800px) {
    div.players {
        padding-bottom: 80px;
    }

    div.hand div {
        font-size: 150%;
        line-height: 100%;
    }

    a {
        font-size: 16px;
    }

    div.toastwrap span {
        font-size: 100px;
    }
}

@media (max-height: 600px) {
    div.players li {
        display: inline-block;
        height: auto;
        width: auto;
        border: 0;
        border-radius: 0;
        background-color: unset;
        color: slategray;
        margin: 0px 10px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 12px;
        cursor: default;
    }

    div.players li.active {
        background: none;
        height: auto;
        width: auto;
        border: 0;
        color: white;
    }

    .players .playername, .players .active .playername {
        display: inline;
        line-height: normal;
    }

    .players .playername:after {
        content: ' - ';
    }

    .players .cardcount {
        font-weight: bold;
        font-size: unset;

    }

    div.deck li, div.stack li {
        height: 100px;
        width: 55px;
        padding: 7px 7px;
        font-size: 28px;
    }

    div.task {
        height: 25px;
        text-align: center;
        font-size: 16px;
        padding: 3px;
    }

    div.task .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin: 0px 10px;
        border: 4px solid white;
        display: inline-block;
        transition: all .3s ease-out;
    }

    div.deck li {
        height: 104px;
        width: 59px;
        line-height: 100px;
        font-size: 20px;
    }

    div.hand li {
        height: 50px;
        width: 3rem;
        padding: 7px 7px;
        font-size: 28px;
    }

    div.hand li:first-child {
        width: 55px;
    }
}